[Desktop Entry]
Version=1.0
Type=Application
Name=co2monitor
Comment[de]=letzte CO2-Messreihe anzeigen
Comment[en]=monitor most current co2 time series
Exec=/usr/bin/co2monitor
Icon=/usr/share/co2monitor/icons/co2monitor.svg
Path=
Categories=GNOME;GTK;Utility;
Terminal=false
StartupNotify=False
