ACTION!="add", GOTO="co2dev_end"

    SUBSYSTEMS=="usb", \
    KERNEL=="hidraw*", \
    ATTRS{idVendor}=="04d9", \
    ATTRS{idProduct}=="a052", \
    GROUP="plugdev", \
    MODE="0660", \
    SYMLINK+="co2dev%n", \
    TAG+="systemd", \
    RUN+="/bin/sh -c '/bin/echo /usr/bin/co2monitor-invoker | /usr/bin/at now'", \
    GOTO="co2dev_end"

LABEL="co2dev_end"
