ACTION!="add", GOTO="co2dev_end"

    SUBSYSTEMS=="usb", \
    KERNEL=="hidraw*", \
    ATTRS{idVendor}=="04d9", \
    ATTRS{idProduct}=="a052", \
    GROUP="plugdev", \
    MODE="0660", \
    SYMLINK+="co2dev%n", \
    TAG+="systemd", \
    PROGRAM="/bin/systemd-escape -p --template=co2monitor@.service $env{DEVNAME}", \
    ENV{SYSTEMD_WANTS}+="%c", \
    GOTO="co2dev_end"

LABEL="co2dev_end"
