[Unit]
Description=co2monitor - log data from specific usb co2 devices
BindTo=%i.device
After=%i.device

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/lib/co2monitor/co2monitor-service %I
