#!/usr/bin/make -f
# taken from https://github.com/Ubuntu-Solutions-Engineering/openstack-deb

%:
	dh $@ --with=systemd

override_dh_install:
	# don't install *.po files
	# don't install the markdown manpage templates
	dh_install --exclude=*.po

override_dh_installinit:
	dh_systemd_enable -pco2monitor --name=co2monitor co2monitor.service
	dh_installinit -pco2monitor --no-start --noscripts
	dh_systemd_start -pco2monitor --no-restart-on-upgrade --no-start

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
